*~ 
*.tmp
Miniproject/Firedrake\ Learning/Ch1_tutorial_saves
Miniproject/Firedrake\ Learning/NS_tutorial_saves
Miniproject/Firedrake\ Learning/NS_pycharm/__pycache__
Miniproject/Firedrake\ Learning/NS_pycharm/Julian/__pycache__
Miniproject/Parcels\ Learning/*.nc
.idea
*.pyc

